html {
  font-family: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Sono', sans-serif;
  margin: 2rem;
}

.plan-title {
  font-size: calc(2.25rem + 1vw);
  font-weight: bold;
}

.plan-price {
  font-size: calc(3.25rem + 1vw);
  font-weight: bolder;
}

.plan-features {
  font-size: calc(1.75rem + 1vw);
}

li {
  list-style-type: none;
  line-height: 2;
}

/* It's flexbox time. */
.pricing-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pricing-plan {
  flex: 1 1 0;
  background-color: #dadada;
  padding: 1.8rem;
  border-radius: .5rem;
  width: 80vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan-button {
  color: #fff;
  width: 35%;
  font-size: clamp(1.9rem, calc(1.85rem + 1vw), 2rem);
  background-color: #FF5F1F;
  padding: .5rem .7rem;
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
}

@media screen and (orientation: landscape) and (max-width: 85rem) and (max-height: 55rem) {
  .pricing-container {
    flex-direction: row;
  }

  /* .pricing-plan {
    height: ;
  } */
}

@media screen and (min-width: 85.1rem) {
  .pricing-container {
    flex-direction: row;
    justify-content: space-around;
  }
}